@tailwind base;
@tailwind components;
@tailwind utilities;

.crypto-main {
  background-color: rgb(227, 250, 144);
  height: screen;
}

.crypto-item {
  background-color: rgb(173, 211, 47);
  color: rgb(21, 27, 1);
  align-items: center;
  justify-content: center;
  margin: auto;
}

.crypto-item:hover {
  background-color: rgb(63, 78, 7);
  color: rgb(227, 250, 144);
}
.crypto-chart {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.custom-tooltip {
  background-color: rgb(227, 250, 144);
  border: 1px solid #cccccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
