@tailwind base;
@tailwind components;
@tailwind utilities;

.crypto-header {
  background-color: #161d2b;
  /* background-color: rgb(231, 217, 16); */
}

.crypto-item {
  background-color: #1e2433;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.crypto-chart {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
